p {
    text-align: center;
}

ul {
    overflow: auto;
}

main {
    clear:right;
    width: 50%;
    margin: 0 auto;
}
h1 {
    color: floralwhite;
    text-align: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: black;
}

.navbar a {
    font-family:monospace;
    font-size: 15;
    color: floralwhite;
    text-decoration: none;
}
.navbar li:first-child {
    margin-right: auto;
    padding-left: 0;
}
.navbar li {
    padding: 10px 15px;
    text-align: center;
}


@media screen and (max-width: 500px){
    .navbar a {
    float:right;
    display: block;}
}

body {
    margin: 0;
    background-color: 1B5187;
}

.image {
    background-image: url(HumanRightsPics/women.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.image-text {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: floralwhite;
}

.parallax1 {
    background-image: url(HumanRightsPics/women.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.textarea {
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    background: url(HumanRightsPics/buildflag.jpg);
    background-size: cover;
    background-attachment: fixed;
    line-height: 22px
}

.textarea2 {
    padding: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: url(HumanRightsPics/women1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.textarea3 {
    padding: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: url(HumanRightsPics/floweshake.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.head {
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 30px;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #2c6379;
    opacity: 0.9;
    border-radius: 12px;
}

.bulletpoint {
    width: 500px;
    height: 130px;
    margin: 20px;
    background-color: white;
    padding: 20px;
    line-height: 25px;
    border-radius: 12px;
    justify-content: center;
    flex-direction: column;
}

.heading2 {
    color: white;
    font-size: 20px;
}

.bulletpoint2 {
    width: 500px;
    height: 50px;
    margin: 20px;
    background-color: white;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

.resources {
    color: #FFF4D1;
}

.button:hover {
    background-color: #57a8be;
    }
.button {
    background-color:rgb(56, 134, 170);
    border: 2px solid;
    color:black;
    padding: 15px 25px;
    text-align: center;
    border-radius: 12px;
    font-size: 16px;
    font-family: fantasy;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    }

    .parallax4 {
        background-image: url("https://d4804za1f1gw.cloudfront.net/wp-content/uploads/sites/16/2016/12/29111036/iStock-92023785.jpg");
        height: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-attachment: fixed;
    }

.heading2 a {
 color: white;
 text-decoration: none;
 font-size: 40px;
 text-shadow: -1px 0, 0 1px black, 1px 0 black, 0 -1px black;
}
