#myDIV1 {
    display: none;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  #myDIV2 {
    display: none;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  #myDIV3 {
    display: none;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  #myDIV4 {
    display: none;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  #myDIV5 {
    display: none;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }

  p-main {
    text-align: left;
    color: white;
  }

.directions {
  background-color: lightyellow;
  padding: 100px;
  text-align: center;
}

.question{
  margin-top: 20px;
  margin-bottom: 20px; 
  padding: 30px;
  background-color: lightblue;
<<<<<<< HEAD
  width: 800px;
}

=======
}

h1{
  color: black;
  font-size: 25px;
}
>>>>>>> 8f2e1e06ae96ab553e4d465aac7b507d5051ea0a
