#myDIV1 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  #myDIV2 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  #myDIV3 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  #myDIV4 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  #myDIV5 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }

  p-main {
    text-align: left;
    color: white;
  }

.directions {
  background-color: lightyellow;
  padding: 100px;
  text-align: center;
}

.question{
  margin-top: 20px;
  margin-bottom: 20px; 
  padding: 30px;
  background-color: lightblue;
}

h1{
  color: black;
  font-size: 25px;
}